@charset "utf-8";
/* 共通部分 */
html{
  font-size: 100%;
}

body {
  font-family: serif;
  background-color: #EAF4FC;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* コンテンツ */
.text {
  margin-top: 6%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 26px;
}
.content img {
  margin-top: 50px;
}
.text {
  color: #17183B;
}
.item:hover {
  opacity: 0.50;
}
.text {
  margin: 0 6%;
}
.text a {
  text-decoration: none;
}
.text p {
  font-size: 18px;
}

/* フッター */
footer {
  background-color: #78c1cd;
  text-align: center;
  padding: 26px 0;
  text-decoration: none;
  margin-top: 100px;
}

footer p {
  color: #ffffff;
  font-size: 20px;
  font-family: serif;
}
.wrapper2 {
  background-color: #78c1cd;
}


.innerbox {
  margin-top: 5px;
  background-color: #78c1cd;
  text-align: center;
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-around;/*水平方向に均等に分布(端は詰める)*/
}

.footerlogo{
  margin-top: 5px;
}